<div>
  <h1>Bikes in the Tour de France</h1> 
  <% @bikes.each do |bike| %> 
    <ul class="center">  
      <li><%= link_to bike.name, bike_path(bike) %></li> -- <%= bike.description %>
    </ul>
  <% end %>  
</div>

