<!DOCTYPE html>
<html>

<head>
<style>
h1 {
  color: blue;
  font-family: helevica; 
  font-size: 500%;
  text-align: center;
}

h2 {
  font-size: 350%;
  font-family: helevica;
  text-align: center;
}

h3 {
  font-size: 200%;
  font-family: helevica;
  text-align: center;
}

</head>

<body></style>

<h1><%= @bike.name %></h1>

<br /><br />

<h3><%= @bike.description %></h3>

</body>
</html>